{% extends 'shared/_MainLayout.html' %}

{% load static %}

{% block header %}
<header class="masthead" style="background-image: url({{object.images.url}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{object.title}}</h1>
                    <h2 class="subheading">{{object.description|truncatechars:100}}</h2>
                    <span class="meta">
                        <a style="color: red;" href="{% url 'blog:AuthorList' object.author %}">نوشته شده توسط : {{object.author.last_name}}</a>
                        <br><br>
                        {{object.Jpublish}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}


{% block content %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-justify">
          {{object.description|linebreaks}}
        </div>
      </div>
    </div>
  </article>
{% endblock content %}