{% extends 'shared/_MainLayout.html' %}

{% load static %}

{% block header %}
    {% include 'shared/header.html' %}
{% endblock header %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3 class="alert alert-primary text-center">مقالات: {{author.last_name}}</h3>
                {% for article in author.articles.published %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'blog:ArticleDetail' article.slug %}">
                        <h2 class="post-title">{{article.title}}</h2>
                        <h3 class="post-subtitle">{{article.description|truncatechars:100}}</h3>
                    </a>
                    <p class="post-meta">
                        نوشته شده توسط : {{article.author.last_name}}
                        <br>
                        {{article.Jpublish}}
                        {% for cat in article.catagory_published.all %}
                            <br>
                            # {{cat.title}}
                        {% endfor %}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}    
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
            </div>
        </div>
    </div>
{% endblock content %}