<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Clean Blog - Start Bootstrap Theme</title>
        {% include 'shared/_HeaderRefrence.html' %}
    </head>
    <body>
        <!-- Navigation-->
        {% include 'shared/Navigation.html' %}
        <!-- Page Header-->
        
        {% block header %}{% endblock header %}
            
        <!-- Main Content-->
        
        {% block content %}{% endblock content %}
            
        <!-- Footer-->
        {% include 'shared/Footer.html' %}
        {% include 'shared/_FooterRefrence.html' %}
    </body>
</html>
